<nav class="navbar navbar-expand-lg fixed-top shadow-sm"
    style="background-color: rgba(0, 0, 0, 0.4); backdrop-filter: blur(6px);">
    <div class="container-fluid px-4">
        <a class="navbar-brand text-white fw-bold" href="#">🎮 GameZone</a>
        <div class="ms-auto d-flex gap-3">
            <a class="nav-link text-white" style="transition: 0.3s;"
                routerLink="/">Inicio</a>
            <a class="nav-link text-white" style="transition: 0.3s;"
                routerLink="/lista">Lista</a>
            <a class="nav-link text-white" style="transition: 0.3s;"
                href="#contacto">Contacto</a>
        </div>
    </div>
</nav>
