<h1 class="title" style="margin: 6rem 0 2rem;">🎮 Detalles del Juego</h1>

<div *ngIf="game; else loading">
  <!-- Card del Juego -->
  <div class="game-card">
    <div class="game-image-container">
      <img [src]="game.background_image" [alt]="game.name" class="game-image" />
    </div>

    <div class="game-content">
      <h2>{{ game.name }}</h2>
      <p><strong>📅 Lanzamiento:</strong> {{ game.released }}</p>
      <p><strong>⭐ Rating:</strong> {{ game.rating }} / {{ game.rating_top
        }}</p>
      <p><strong>📝 Descripción:</strong></p>
      <p class="description" [innerHTML]="game.description"></p>

      <button class="back-btn" (click)="goBack()">⬅️ Volver</button>
      <!-- Botón para añadir comentario -->
      <button class="add-comment-btn" (click)="openModal()">Añadir
        Comentario</button>

      <!-- Mostrar comentarios -->
      <div *ngIf="gameComments.length > 0; else noComments">
        <h3>Comentarios:</h3>
        <ul>
          <li *ngFor="let comment of gameComments">{{ comment }}</li>
        </ul>
      </div>
      <ng-template #noComments>
        <p>Este juego aún no tiene comentarios.</p>
      </ng-template>
    </div>
  </div>
</div>

<!-- Mensaje de Carga -->
<ng-template #loading>
  <div class="loading">
    <p>Cargando detalles...</p>
  </div>
</ng-template>

<!-- Modal para añadir comentario -->
<div *ngIf="isModalOpen" class="modal">
  <div class="modal-content">
    <h2>Escribe tu comentario</h2>
    <textarea [(ngModel)]="newComment"
      placeholder="Escribe tu comentario aquí..." rows="4" cols="50"></textarea>
    <div class="modal-actions">
      <button (click)="saveComment()">Guardar Comentario</button>
      <button (click)="closeModal()">Cancelar</button>
    </div>
  </div>
</div>
