<!-- detalle.component.html -->
<h1 class="title">🎮 Detalles del Juego</h1>

<div *ngIf="game; else loading">
  <div class="game-card">
    <img [src]="game.background_image" [alt]="game.name" class="game-image" />

    <div class="game-content">
      <h2>{{ game.name }}</h2>
      <p><strong>📅 Lanzamiento:</strong> {{ game.released }}</p>
      <p><strong>⭐ Rating:</strong> {{ game.rating }} / {{ game.rating_top }}</p>
      <p><strong>📝 Descripción:</strong></p>
      <p class="description" [innerHTML]="game.description"></p>
      <button class="back-btn" (click)="goBack()">⬅️ Volver</button>
    </div>
  </div>
</div>

<ng-template #loading>
  <p class="loading">Cargando detalles...</p>
</ng-template>
